body {
  background-color: #ECF2FF /*gold*/;
}

hr {
  /* background-color: red; */
  border-style: dotted none none;
  border-color: black;
  width: 3%;
  border-width: 5px;
  height: 0px;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: lightblue;
}

.border {
  border-radius: 100%;
}

  <a href="HTML-Personal site\index.html">Home page</a>
